---
import { Image } from "astro:assets";
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About Me" description="" pubDate={new Date("July 05 2025")}>
  <section>
    <p>
      静岡大学大学院 総合科学技術研究科 情報学専攻の修士1年の佐橋優人です。<br
      />
      <a href="https://kanolab.net/">狩野芳伸研究室</a
      >に所属し、主に自然言語処理を研究しています。<br />
    </p>
  </section>
  <section>
    <h2>Tech Stack</h2>
    <div class="tech-stacks">
      {
        (() => {
          const categories = {
            Frontend: [
              "typescript",
              "react",
              "nextjs",
              "astro",
              "svelte",
              "vite",
              "tailwindcss",
              "shadcn",
            ],
            Backend: ["golang", "java", "ruby", "rails", "php"],
            "AI / ML": [
              "python",
              "pytorch",
              "plotly",
              "scikitlearn",
              "huggingface",
              "langchain",
              "chatgpt",
            ],
            Mobile: ["dart", "flutter"],
            Database: ["postgresql", "supabase"],
            "Cloud / Infrastructure": [
              "aws",
              "azure",
              "gcp",
              "cloudflare",
              "docker",
              "proxmox",
            ],
            "Tools / Others": [
              "cs",
              "graphql",
              "websocket",
              "postman",
              "selenium",
              "googleappsscript",
            ],
          };
          return Object.entries(categories).map(([category, stacks]) => (
            <div>
              <h3>{category}</h3>
              <div class="tech-stack-items">
                {stacks.map((stack) => (
                  <Image
                    src={`/images/tech-stacks/${stack}.svg`}
                    alt={stack}
                    width={48}
                    height={48}
                    loading="lazy"
                  />
                ))}
              </div>
            </div>
          ));
        })()
      }
    </div>
  </section>
  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="/blog/proj-aiwolf">人狼知能プロジェクト</a><br />
        人狼知能コンテストと呼ばれるプログラム同士で人狼ゲームを対戦する大会における開発プロジェクト
      </li>
      <li>
        <a href="https://github.com/nharu-0630/kanolab-vanguard"
          >不正行為検知拡張機能</a
        ><br />
        編集中のファイルとブラウザの監視により、生成AIを用いた不正行為を検知するVS
        Codeの拡張機能である。起動中のブラウザのタイトルとURLを監視、ログの改ざんを防ぐためにハッシュチェインを付与する。大学の講義で試験的に導入済みである。
      </li>
      <li>
        <a href="/blog/proj-gakujo">学務情報システムアプリ</a><br />
        大学の学務情報システムに自動ログイン・スクレイピング処理することで大学生活の利便性を向上するアプリ
      </li>
    </ul>
  </section>
  <section>
    <h2>Publications</h2>
    <ul>
      <li>
        <a
          href="https://www.anlp.jp/proceedings/annual_meeting/2025/pdf_dir/P9-9.pdf"
          >ソーシャルメディアにおける投稿およびユーザの政治的傾向予測と政治的投稿フィルタによる性能向上</a
        ><br />
        <u>佐橋 優人</u>, 狩野 芳伸 (静大)
      </li>
      <li>
        <a
          href="https://www.anlp.jp/proceedings/annual_meeting/2024/pdf_dir/P2-2.pdf"
          >STaMP:個人の性格や政治的立場等の多面的特性と紐づくSNSデータの構築及び文章スタイルによる個人特性予測</a
        ><br />
        福畠汐音, 仲田明良, <u>佐橋優人</u>, 増川哲太 (静大), 三輪洋文, 野中尚人
        (学習院大), 木下翔太郎, 岸本泰士郎 (慶應大), 五十嵐彰 (阪大), 岡久太郎,
        狩野芳伸 (静大)
      </li>
    </ul>
  </section>
  <section>
    <h2>Contact</h2>
    <a href="mailto:root@nharu.dev">Email</a><br />
  </section>
</Layout>

<style>
  .tech-stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4rem;
    margin-block-end: 2em;
  }

  .tech-stack-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
