---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 05 2025')}
>
	<p>
		静岡大学 総合科学技術研究科 情報学専攻の修士1年生です。<br />
		狩野芳伸研究室に所属し、主に自然言語処理を研究しています。<br />
	</p>
</Layout>
