---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Works" description="" pubDate={new Date("Sep 16 2025")}>
  <section>
    <h2>インターンシップ</h2>
    <p>
      参加したインターンシップの一覧 (新しい順) です。<br />
      2025年9月16日現在
    </p>
  </section>
  <section>
    <h3>2025年 (修士1年)</h3>
    <div>
      <h4>グリーホールディングス株式会社</h4>
      <p>
        就業型インターン<br />
        期間: 2025年10月15日 ~ <br />
        言語・フレームワーク: PHP
      </p>
    </div>
    <div>
      <h4>dely株式会社</h4>
      <p>
        就業型インターン<br />
        期間: 2025年9月16日 ~ 2025年10月15日<br />
        言語・フレームワーク: Ruby, Ruby on Rails
      </p>
      <p>
        ソフトウェアエンジニアとして、既存サービスの新機能の企画を元に、実装を担当しました。
      </p>
    </div>
    <div>
      <h4>株式会社SmartHR</h4>
      <p>
        短期インターン<br />
        期間: 2025年9月9日 ~ 2025年9月12日<br />
        言語・フレームワーク: Ruby, Ruby on Rails, TypeScript, React
      </p>
      <p>
        ソフトウェアエンジニアとして、ハッカソン形式のプロジェクトに参加し、バックエンドを主に担当しました。
      </p>
    </div>
    <div>
      <h4>株式会社ディー・エヌ・エー</h4>
      <p>
        <a href="https://student.dena.com/internship/"
          >【短期就業】ソフトウェアエンジニアリングコース</a
        ><br />
        期間: 2025年9月1日 ~ 2025年9月5日<br />
        言語・フレームワーク: Python
      </p>
      <p>
        ソフトウェアエンジニアとして、技術検証のためのツールを開発から調査結果の報告までを担当しました。
      </p>
    </div>
    <div>
      <h4>フリー株式会社</h4>
      <p>
        就業型インターン<br />
        期間: 2025年8月18日 ~ 2025年8月29日<br />
        言語・フレームワーク: Go, Python, Flask
      </p>
      <p>
        SREエンジニアとして、システムの監視アラート運用のための内製ツールの機能提案から実装までを担当しました。
      </p>
    </div>
    <div>
      <h4>株式会社日本経済新聞社</h4>
      <p>
        <a href="https://hack.nikkei.com/internJobs/2025_summer/"
          >短期インターン</a
        ><br />
        期間: 2025年8月11日 ~ 2025年8月16日<br />
        言語・フレームワーク: Python, FastAPI, TypeScript, Next.js
      </p>
      <p>
        ソフトウェアエンジニアとして、ハッカソン形式のプロジェクトに参加し、フロントエンドを主に担当しました。
      </p>
    </div>
    <div>
      <h4>株式会社コロプラ</h4>
      <p>
        <a href="https://colopl.co.jp/recruit/internship2025/"
          >COLOPL_INNOVATION_BOOTCAMP 2025</a
        > (就業型インターン)
        <br />
        期間: 2025年7月28日 ~ 2025年8月8日<br />
        言語・フレームワーク: PHP, Laravel
      </p>
      <p>
        サーバサイドエンジニアとして、ゲームの新機能の企画を元に、API設計・DB
        設計から実装までを担当しました。
      </p>
    </div>
  </section>
  <section>
    <h3>2023年 (学部3年)</h3>
    <div>
      <h4>株式会社CARTA HOLDINGS</h4>
      <p>
        <a href="https://techblog.cartaholdings.co.jp/treasure">Treasure</a><br
        />
        期間: 2023年8月7日 ~ 2023年8月25日<br />
        言語・フレームワーク: Go, TypeScript, React
      </p>
      <p>
        ソフトウェアエンジニアとして、ハッカソン形式のプロジェクトに参加し、バックエンドを主に担当しました。
      </p>
    </div>
  </section>
</Layout>
